@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove MUI baseline conflicts */
html, body {
  padding: 0;
  margin: 0;
}

@layer base {
  Button,
  button,
  input,
  select,
  textarea {
    font-family: inherit;
  }
}
